body {
  text-align: center;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 64px auto;
  width: 626px;
  height: 486px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;

  font-size: 32px;
  color: #3F3D56;
  
  margin: 32px auto 16px
}

h1 span {
  font-weight: 700;
  color: #EE24FF;
}

p {
  width: 540px;
  margin-bottom: 32px;
  margin-left: 40px;
  color: #828282;

  font-size: 15px;
  line-height: 22px;
}

p span, footer a {
  color: #3F3D56;
  font-weight: 700;
}

#line {
  width: 391px;
  height: 0;
  border: 1px solid #ECEFF2;
  margin : 64px auto 16px;
}

footer {
  flex-wrap: wrap;
}

footer a + a {
  margin-left: 42px;
}

a {
  text-decoration: None;
}

footer img {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}